h1{
    text-align:center;
    font-size: 2em;
}

.header{
    list-style-type:none;
    overflow:hidden;
    background-color: #000000;
}
.header li{
    display:inline;
    font-size: 1.5em;
    text-align:center;
    float:left;
    text-color: #ffffff;
}
.header li a{
    display:block;
    padding:15px 15px;
    text-decoration: none;
    color: #ffffff;
}
.header li a:hover{
    background-color: #444444;
}
.header li:last-child{
    float: right;
}