h1 {
    text-align: center;
    font-size: 2em;
}

.header {
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
}

.header li {
    display: inline;
    font-size: 1.5em;
    text-align: center;
    float: left;
    text-color: #ffffff;
}

.header li a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #ffffff;
}

.header li a:hover {
    background-color: #444444;
}

.header li:last-child {
    float: right;
}

footer{
    background-color : #0ff;
    text-align: center;
    position:fixed;
    bottom:0px;
    width:100%;
}

.topic {
    display: block;
    overflow: hidden;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: violet;
}

.topic_left {
    float: left;
    width: 100px;
    height: inherit;
    /*background-color: blue;*/
}

.topic_right {
    /*background-color: red;*/
    height: inherit;

}

.pair {
  background-color: rgba(255, 0, 0, 0.2);
}

.impair {
  background-color: rgba(0, 255, 0, 0.2);
}

.topic_date {
    width: 200px;
    text-align: right;
}

.post {
    text-align: justify;
    overflow: hidden;
}

.message {
  width:auto;
}

.center {
  align-content: center;
}

.body_center {
  margin: auto;
  width: 70%;
  min-width: 900px;  
}

.btn {
  /*background-color: rgba(51, 40, 154, 1);*/
  background: linear-gradient(rgba(51, 40, 154,0.4), rgba(51, 40, 154,1));
  color: white;
}

.submit {

}

.separator {
  background: rgba(56, 66, 76, 1);
  width: 100%;
  height: 3px;
  display: block;
}

.center {
   margin:auto;
   display:block;
}

h4 {
  text-decoration: underline;
}

/*.after {
  clear: both;
  content: "";
  display: table;
}*/

.text_left {
    text-align: left;
}
